.container_cadastro { 
    max-width: 750px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
   
    
}

body {
    overflow: hidden;
  }


.div_primaria {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    margin-top: 2%;
    /* margin-bottom: 20%; */
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 8px grey;
}

#img_logo_box{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.titulo {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    padding: 20px;
}

.input_cadastro {
    width: 50%;
    height: 80%;
    padding: 8px 20px;
    margin: 12px auto;
    border-radius: 6px;
    border-width: 2px;
    display: flex;
    border: 1px solid;
}

.div_secundaria .input_cadastro {
        width: 45%;
        margin-left: 30px;
        display: unset;
}

.div_secundaria .img_olho {
    width: 25px;
    cursor: pointer;
    display: unset;

}

.botao_add {
    padding: 8px 12px;
    background-color: whitesmoke;
    border-radius: 8px;
    border-width: 1px;
    border: 1px solid;
    display: unset;
}

.botao_enviar {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: #E57019;
    color: white;
    margin: 15px 10% 20px 10%;
    padding: 5px 50px 5px 50px;
    border-radius: 8px;
    border: 1px solid;
}
