* {
    padding: 0;
    margin: 0;
}

html, body{

    height: 100%;
    font-size: large;
}
.div_main{

    min-height: 100%;
    position: relative;
    width: 100%;

}

#nav1{

    background-color: #E57019;
    height: 82px;
    width: 100wv;
    
    


}

#img_logo{

    height: 66px;
    width: 273px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;

}

#footer1{

    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #383838ab;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    position: absolute;
    bottom: 0;
    height: 82px;
    width: 100%;
    
}