* {
    padding: 0;
    margin: 0;
}

html, body{

    width: 100%;
    height: 100%;

}

#header{

    background-color: #E57019;
    height: 82px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.links_navbar{

    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
    color: white;
    font-size: medium;
}

.aba_nav {
    color: white;
    text-decoration: none;
}

#div_img {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    float: left;
}

#img_logo, #link_inicial {

    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;

}

.banner {

    width: 100%;
    height: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .container {

    width: 98%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.lista {

    display: flex;
    flex-direction: column;
    background-color: #FFF8E5;
    border-radius: 10px;
    height: 100%;
    

    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);
}

.lista input {

    align-self: center;
    width: 80%;
    margin: 25px;
    border-radius: 8px;
    background-color: #FFF8E5;

}

.lista ul {
    margin: 5px;
}

.mapa_status {

    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.mapa {

    height: 80%;
    width: 98%;
    vertical-align: top;

}

.status {

    height: 150px;
    background-color: #FFF8E5;
    width: 98%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);

}

.status .nome_linha {

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    color: #9E821C;

}

.status .txt {

    margin-top: 10px;    
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.lotacao, .atual, .prox {
    font-size: large;
}

#footer{

    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #383838ab;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    bottom: 0;
    height: 41px;
    width: 100%;
    
}

.aba_fot {
    color: black;
}

/* 
Cores:
Laranja: E57019
Bege: FFF8E5
Cinza: 383838
Fonte: 9E821C
*/