* {
    padding: 0;
    margin: 0;
}

html, body{

    width: 100%;
    height: 100%;

}

#header{

    background-color: #E57019;
    height: 82px;
    width: 100%;

}

.links_navbar{

    float: right;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
    color: white;
    font-size: medium;
}

.aba_nav {
    color: white;
    text-decoration: none;
}

#div_img {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    float: left;
}

#img_logo, #link_inicial {

    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 3px;

}

.banner {

    width: 100%;
    height: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .container {

    width: 98%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.lista {

    display: flex;
    flex-direction: column;
    background-color: #FFF8E5;
    border-radius: 10px;
    height: 100%;

    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);
}

.lista input {
    margin: 25px;
    border-radius: 8px;
    background-color: #FFF8E5;
}

.mapa_status {

    height: 80%;
    margin-left: 2%;
}

.mapa {

    height: 80%;
    width: 90%;
    margin-left: 20px;
    vertical-align: top;

}

.status {

    height: 150px;
    background-color: #FFF8E5;

    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.47);

}

#footer{

    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #383838ab;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    bottom: 0;
    height: 41px;
    width: 100%;
    
}

.aba_fot {
    color: black;
}

/* 
Cores:
Laranja: E57019
Bege: FFF8E5
Cinza: 383838
*/