* {
    padding: 0;
    margin: 0;
}

.container_login { 
    max-width: 750px;
    text-align: center;
    align-items: center;
    margin: 70.1px auto;
    
    
}

body {
    overflow: hidden;
  }


#footer_login{

    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #383838ab;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    margin-bottom: 100px;
    margin-top: 12.4%;
    padding-bottom: 10%;
    height: 4.6%;
    
    
}

.div_primaria {
    margin: 0 auto;
    width: 50%;
    text-align: center;

    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 8px grey;
}

#img_logo_box{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.titulo {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    padding: 20px;
}

.input_login {
    width: 50%;
    height: 80%;
    padding: 8px 20px;
    margin: 8px auto;
    border-radius: 6px;
    border-width: 2px;
    display: flex;
    border: 1px solid;
}

.div_secundaria .input_login {
        margin-left: 30px;
        display: unset;
}

.div_secundaria .img_olho {
    width: 25px;
    cursor: pointer;
    display: unset;

}

.botao_entrar {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: #E57019;
    color: white;
    margin: 15px 10% 20px 10%;
    padding: 5px 50px 5px 50px;
    border-radius: 8px;
    border: 1px solid;
}










